/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*****Container******/
.container
{
    margin-left:40%;
}
/****hour***/
.time
{
    margin-bottom: -10px;
}
.time h1
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 22px;
}

/***Description***/
.description h5
{
    word-spacing: 60px;
    color: grey;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}